<h2>Lista de categorias</h2>
<hr>

<a href="/admin/categorias/add"><button class="btn btn-outline-success">Nova categoria</button></a>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each categorias}}
    <tr>
      <th class="text-nowrap" scope="row">{{nome}}</th>
      <td><a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-outline-warning" style="float: left; margin-right: 10px;">Editar</button></a>
      <form action="/admin/categorias/deletar" method="post">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-outline-danger">Deletar</button>
        </form></td>
    </tr>
    {{else}}
    <h4 class="mt-4">Nenhuma categoria registrada</h4>
    {{/each}}    
  </tbody>
</table>