<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    {{user.nome}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/admin/categorias">Categorias</a></li>
    <li><a class="dropdown-item" href="/admin/postagens">Postagens</a></li>
    <li><a class="dropdown-item" href="/usuarios/logout">Sair</a></li>
    </ul>
</div>